
.button{
 background-color:rgb(113, 113, 209);/* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 8px;
  
}

#taskSelection{
    position: relative;
    top: 35px;
    left: 100px;
}
#addTask{
    position: relative;
    top: 35px;
    left: 80px;
}
#addSereverbutton{
    position: relative;
    top: 35px;
    left: 80px;
}
#serverTable{
    position: relative;
    top: 55px;
    left: 80px;
}
select{
    background-color:lightgrey;/* Green */
  border: none;
  color:black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  
}

.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;;
  }
  .containerone{
       outline: 1px solid gray;
       background-color:whitesmoke; 
       height: 600px;
  }
  .containertwo{
    outline: 1px solid gray;
    background-color:whitesmoke; 
}

#proccescontainer{
    position: relative;
    top:60px;
    left:80px;
}
#demo{
    position: relative;
    top:300px;
    left:80px;
}
/* progressbar css */
#Progress_Status { 
    width: 50%; 
    background-color: #ddd; 
    margin-bottom: 15px;
  } 
    
#myprogressBar { 
    width: 1%; 
    height: 35px; 
    background-color:palevioletred; 
    text-align: center; 
    line-height: 32px; 
    color: black; 
  } 

  /* table Css */
  #serverTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #serverTable td, #serverTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #serverTable tr:nth-child(even){background-color: #f2f2f2;}
  
  #serverTable tr:hover {background-color: #ddd;}
  
  #serverTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:lightgray;
    color: white;
  }